h3 {
    color: #4AAAA5
}

h5 {
    color: #4AAAA5
}

.back-green {
    background-color: #4AAAA5;
}

@media only screen and (max-width: 975px) {
     .navbar {
      background: #4AAAA5 !important;
    } 
}